/* ===== Layout pantalla completa ===== */

html, body {
    height: 100%;
    margin: 0;
}

body{
    background: #FFF3D3;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    cursor: url("../img/matainsectos.png") 16 16, auto;
}

/* Hace que el contenido empuje el footer */
main {
    flex: 1;
}

/* ===== Estilo El Último Taco ===== */

/* Título */
.titulo-juego{
    color: #E63946;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 2px 2px #F4A261;
}

/* Tarjeta información */
.tarjeta-cocina{
    background: #F4A261;
    border: 4px solid #E63946;
    border-radius: 20px;
    box-shadow: 0 8px 0 #6D4C41;
}

/* Botón jugar */
.btn-jugar{
    background: #2A9D8F;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    transition: transform 0.2s, background 0.3s;
}

.btn-jugar:hover{
    background: #144a45;
    color: white;
    transform: scale(1.1);
}

.footer-cocina{
    background: linear-gradient(90deg, #E63946, #F4A261);
}

